{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}</h1>
    {% if posts.items %}
        {% for post in posts.items %}
            {% include '_post.html' %}
        {% endfor %}
        {% if posts.has_prev %}
            <a href="{{ url_for('explore', page=posts.prev_num) }}">Newer Posts</a>
        {% endif %}
        {% if posts.has_next %}
            <a href="{{ url_for('explore', page=posts.next_num) }}">Older Posts</a>
        {% endif %}
    {% else %}
        <p>Click <a href="{{ url_for('index') }}"> here </a>to post something yourself.</p>
    {% endif %}
{% endblock %}