{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}</h1>
    {% if posts.items %}
        {% for post in posts.items %}
            {% include '_post.html' %}
        {% endfor %}
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not posts.has_prev %} disabled{% endif %}">
                    <a href="{{ url_for('explore', page=posts.prev_num) or '#' }}">
                        <span aria-hidden="true">&larr;</span> Newer posts
                    </a>
                </li>
                <li class="next{% if not posts.has_next %} disabled{% endif %}">
                    <a href="{{ url_for('explore', page=posts.next_num) or '#' }}">
                        Older posts <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% else %}
        <p>Click <a href="{{ url_for('index') }}"> here </a>to post something yourself.</p>
    {% endif %}
{% endblock %}