{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols="42", rows="3") }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit }}</p>
    </form>
    {% if posts.items %}
        {% for post in posts.items %}
            {% include '_post.html' %}
        {% endfor %}
        {% if posts.has_prev %}
            <a href="{{ url_for('index', page=posts.prev_num) }}">Newer Posts</a>
        {% endif %}
        {% if posts.has_next %}
            <a href="{{ url_for('index', page=posts.next_num) }}">Older Posts</a>
        {% endif %}
    {% else %}
        <p>You can find new users to follow 
            <a href="{{ url_for('explore') }}"> here.</a></p>
        <p>Or, you can try to post something yourself!</p>
    {% endif %}
{% endblock %}